# Question 1

Create a list called shopping. <br>
Find the second element <br>
Find the first to third element <br>
Extract the last element

In [84]:
shopping = ["spam", "ham", "eggs", "ham"]

In [85]:
shopping[1]

'ham'

In [86]:
shopping[0:3]

['spam', 'ham', 'eggs']

In [87]:
shopping[-1]

'ham'

# Question 2

Append Edinburgh Waverley to the end of the list <br>
Add "Queen Street" to the start of the list <br>
Find out what index "Croy" is at in the list <br>
Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow") <br>
Remove "Haymarket" from the list of stops <br>
Remove all items from stops <br>

In [88]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

In [89]:
stops.append("Edinburgh Waverley")
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [90]:
stops = ["Queen Street"] + stops
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [91]:
# instructor answer
stops.insert(0, "Queen Street")
stops

['Queen Street',
 'Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [13]:
stops.index("Croy")

1

In [14]:
stops = stops[0:4] + ["Polmont"] + stops[4:]
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [ ]:
# better answer
stops.insert(4, "Polmont")
stops

In [16]:
stops.remove("Haymarket")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

In [18]:
stops.clear()
stops

[]

# Question 3

Set up the following dictionary:

person = {"name": "Steph", "age": 31, "Instructor" : True}

Do the following:

Return the keys, values and items from this dictionary

Take out only the name from it

Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary

Delete the job description from the dictionary (Hint: look up the del function)

In [19]:
person = {"name": "Steph", "age": 31, "Instructor" : True}

In [20]:
person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [21]:
person.values()

dict_values(['Steph', 31, True])

In [22]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [23]:
person["name"]

'Steph'

In [24]:
person.update({"email": "steph@codeclan.com"})
person

{'name': 'Steph', 'age': 31, 'Instructor': True, 'email': 'steph@codeclan.com'}

In [ ]:
# alternate answer
person["email"] = "steph@codeclan.com"
person

In [26]:
del person["Instructor"]
person

{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}

# Question 4

In [92]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [93]:
[i for i in numbers if i % 2 == 0]

[6, 2, 2, 6]

In [94]:
max(numbers)-min(numbers)

98

In [95]:
[True for i in range(len(numbers)-1) if numbers[i] == numbers[i+1]]

[True]

Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7. So [11, 6, 4, 99, 7, 11] would have sum of 22

In [96]:
# instructor answer
total = 0
skip_this_bit = False
for number in numbers: 
    if number == 6:
        # start skipping
        skip_this_bit = True
    elif skip_this_bit:
        if number == 7:
            # if we're skipping, and this number is 7
            # then stop skipping
            skip_this_bit = False
    else:
        total += number

print(total)

2

# Question 5

We want to print "Woo Python!" if either `python_is_fun` is true OR `python_is_weird` is true OR both `python_is_fun` and `python_is_weird` are true. Otherwise, print `"Python is not for me!"`. Make sure you test all the combinations.

In [98]:
python_is_fun = True
python_is_weird = False

if python_is_fun or python_is_weird:
    print("Woo Python!")
#elif python_is_fun and python_is_weird:
#    print("Woo Python!")
else:
    print("Python is not for me!")

Woo Python!

# Question 6

We have a list of chickens and the farmer would like to go through all the chickens, collecting the eggs and getting the total number of eggs collected.

In [48]:
chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

In [51]:
def count_eggs(input_dict):
    total_eggs = 0
    for chicken in input_dict:
        total_eggs += chicken["eggs"]
    return(f"{total_eggs} eggs collected")

count_eggs(chickens)

'4 eggs collected'

# Extension 1

Change the capital of Wales from "Swansea" to "Cardiff".

In [59]:
united_kingdom = [
  {
    "name": "Scotland",
    "population": 5295000,
    "capital": "Edinburgh"
  },
  {
    "name": "Wales",
    "population": 3063000,
    "capital": "Swansea"
  },
  {
    "name": "England",
    "population": 53010000,
    "capital": "London"
  }
]

In [60]:
united_kingdom[1].update({"capital": "Cardiff"})
united_kingdom

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'},
 {'name': 'Wales', 'population': 3063000, 'capital': 'Cardiff'},
 {'name': 'England', 'population': 53010000, 'capital': 'London'}]

In [ ]:
# instructor answer
united_kingdom[1]["capital"] = "Cardiff"

Create a dictionary for Northern Ireland and add it to the united_kingdom list (The capital is Belfast, and the population is 1,811,000).

In [63]:
united_kingdom.extend([{
    "name": "Northern Ireland",
    "population": 1811000,
    "capital": "Belfast"}])
united_kingdom

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'},
 {'name': 'Wales', 'population': 3063000, 'capital': 'Cardiff'},
 {'name': 'England', 'population': 53010000, 'capital': 'London'},
 {'name': 'Northern Ireland', 'population': 1811000, 'capital': 'Belfast'}]

In [ ]:
# instructor
united_kingdom.append({
  "name": "Northern Ireland",
  "population": 1811000,
  "capital": "Belfast"
})

In [75]:
[united_kingdom[i]["name"] for i in range(len(united_kingdom))]
#OR
for country in united_kingdom:
    print(country["name"])

['Scotland', 'Wales', 'England', 'Northern Ireland']

In [82]:
total_population = 0
for i in range(len(united_kingdom)):
    total_population += united_kingdom[i]["population"]
total_population

63179000